# --- Flux Audio & VAD (Local - Compatible Python 3.13) ---
# pip install torch torchaudio --extra-index-url https://download.pytorch.org/whl/cu121
# --- Flux Audio & VAD ---
openai
python-dotenv
sounddevice
numpy==1.26.4
torch
packaging
# --- Vecteur & Maths ---
chromadb
# --- HTTP Client (Obsidian Bridge) ---
httpx
urllib3
# --- Synthèse Vocale (P3) ---
pygame==2.5.2
edge-tts
asyncio
#--- Visualisation des tableaux d'exécution ---
rich
fastapi
uvicorn
Jinja2
python-multipart